@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body,
.docs-story {
  font-family: "Inter", sans-serif;
  background-color: var(--story-background, #ffffff);
  transition: background-color 0.3s ease-in-out;
}
